CopyValuesFlow_v3.json
[
    {
        "id": "6acbb86292f9f77e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c8f935ce822d3aae",
        "type": "debug",
        "z": "6acbb86292f9f77e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "e87e9f2eb7326285",
        "type": "comment",
        "z": "6acbb86292f9f77e",
        "name": "Read metadata UoE RT",
        "info": "Unified Runtime app provides the meta data information for all datapoints via IE Databus \n\nTopic: ie/m/j/simatic/v1/ue1/dp",
        "x": 180,
        "y": 60,
        "wires": []
    },
    {
        "id": "af89286abb3b25a8",
        "type": "mqtt in",
        "z": "6acbb86292f9f77e",
        "name": "",
        "topic": "ie/m/j/simatic/v1/ue1/dp",
        "qos": "2",
        "datatype": "json",
        "broker": "36714d0c32d589e4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "c8f935ce822d3aae",
                "8811c492e8a5670e"
            ]
        ]
    },
    {
        "id": "97885e81e53e0be8",
        "type": "mqtt in",
        "z": "6acbb86292f9f77e",
        "name": "",
        "topic": "ie/d/j/simatic/v1/ue1/dp/r/EdgeHowTos_V19/default",
        "qos": "2",
        "datatype": "json",
        "broker": "36714d0c32d589e4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 270,
        "y": 360,
        "wires": [
            [
                "83a95ccebfdcb59d",
                "b0b53d611f84a257"
            ]
        ]
    },
    {
        "id": "90db025524507c49",
        "type": "comment",
        "z": "6acbb86292f9f77e",
        "name": "Read values from UoE RT",
        "info": "",
        "x": 190,
        "y": 320,
        "wires": []
    },
    {
        "id": "4f1e8507fc64c603",
        "type": "comment",
        "z": "6acbb86292f9f77e",
        "name": "Read values from OPCUA Conn",
        "info": "",
        "x": 1070,
        "y": 320,
        "wires": []
    },
    {
        "id": "62fe700983f5fe03",
        "type": "comment",
        "z": "6acbb86292f9f77e",
        "name": "Read metadata from OPCUA Conn",
        "info": "",
        "x": 1080,
        "y": 60,
        "wires": []
    },
    {
        "id": "4bc429e20c3404f5",
        "type": "mqtt in",
        "z": "6acbb86292f9f77e",
        "name": "",
        "topic": "ie/d/j/simatic/v1/opcuac1/dp/r/tankOPC/default",
        "qos": "2",
        "datatype": "json",
        "broker": "36714d0c32d589e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1110,
        "y": 360,
        "wires": [
            [
                "2dab54243818ba91",
                "1feb8537a9c2bf90"
            ]
        ]
    },
    {
        "id": "2dab54243818ba91",
        "type": "debug",
        "z": "6acbb86292f9f77e",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 360,
        "wires": []
    },
    {
        "id": "4115c9d4f10eb7bb",
        "type": "mqtt in",
        "z": "6acbb86292f9f77e",
        "name": "",
        "topic": "ie/s/j/simatic/v1/opcuac1/status",
        "qos": "2",
        "datatype": "json",
        "broker": "36714d0c32d589e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1070,
        "y": 220,
        "wires": [
            [
                "2e0f17de3a944ee6"
            ]
        ]
    },
    {
        "id": "2e0f17de3a944ee6",
        "type": "debug",
        "z": "6acbb86292f9f77e",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 220,
        "wires": []
    },
    {
        "id": "4ade3f525da2c5a2",
        "type": "mqtt in",
        "z": "6acbb86292f9f77e",
        "name": "",
        "topic": "ie/m/j/simatic/v1/opcuac1/dp/#",
        "qos": "2",
        "datatype": "json",
        "broker": "36714d0c32d589e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1060,
        "y": 100,
        "wires": [
            [
                "0e808331b6d4bebb",
                "563a21d65abb1329"
            ]
        ]
    },
    {
        "id": "0e808331b6d4bebb",
        "type": "debug",
        "z": "6acbb86292f9f77e",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 100,
        "wires": []
    },
    {
        "id": "1feb8537a9c2bf90",
        "type": "function",
        "z": "6acbb86292f9f77e",
        "name": "function 5",
        "func": "    let newMsg = {};\n    let dataPointsConnector = flow.get(\"DatapointsConnectorMeta\");\n    let dataPointsUnified = flow.get(\"DatapointsUnifiedMeta\");\n    let dt = new Date();\n\n    let readTopic = flow.get(\"DatapointTopicUoE\").split(\"/\");\n\n    readTopic[7] = \"w\";\n    let writeTopic = readTopic.join(\"/\");\n    newMsg.topic = writeTopic;\n\n    //let numberOfDatapoints = msg.payload[\"vals\"].length;\n    let sum = 0;\n    let foundDatapoint;\n    let tagName\n    let convertTagName;\n    let dataPointUoE;\n    let dataPointUoEID;\n    let newVals = [];\n\n    msg.payload[\"vals\"].forEach(function (element) {\n\n        foundDatapoint = dataPointsConnector.filter(datapoint => datapoint.id === element.id)\n        if (foundDatapoint.length > 0) {\n            tagName = foundDatapoint[0].name;\n            convertTagName = tagName.replace(/\\./g, '_');\n\n            convertTagName = convertTagName.split('_').slice(4).join('_');\n\n            dataPointUoE = dataPointsUnified.filter(datapoint => datapoint.name === convertTagName);\n            if (dataPointUoE.length > 0) {\n                dataPointUoEID = dataPointUoE[0].id;\n\n                newVals.push(\n                    {\n                        \"id\": dataPointUoEID,\n                        \"qc\": 3,\n                        \"ts\": dt.toISOString(),\n                        \"val\": element.val\n                    }\n                )\n            }\n        }\n    });\n\n    newMsg.payload = {\n        \"seq\": 1,\n        \"vals\": newVals\n    };\n    return newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 440,
        "wires": [
            [
                "82d66a89becc891d",
                "8b6c665da91c6cdd"
            ]
        ]
    },
    {
        "id": "8811c492e8a5670e",
        "type": "function",
        "z": "6acbb86292f9f77e",
        "name": "store datapoints UoE",
        "func": "let dataPointDefinitions = msg.payload[\"connections\"][0][\"dataPoints\"][0][\"dataPointDefinitions\"];\nflow.set(\"DatapointsUnifiedMeta\",dataPointDefinitions);\n\nlet datapointTopicUoE = msg.payload[\"connections\"][0][\"dataPoints\"][0][\"topic\"];\nflow.set(\"DatapointTopicUoE\", datapointTopicUoE);",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "563a21d65abb1329",
        "type": "function",
        "z": "6acbb86292f9f77e",
        "name": "store datapoints OPC UA",
        "func": "let dataPointDefinitions = msg.payload[\"connections\"][0][\"dataPoints\"][0][\"dataPointDefinitions\"];\nflow.set(\"DatapointsConnectorMeta\",dataPointDefinitions);\n\nlet datapointTopicOPC = msg.payload[\"connections\"][0][\"dataPoints\"][0][\"topic\"];\nflow.set(\"DatapointTopicOPC\", datapointTopicOPC);",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 160,
        "wires": []
    },
    {
        "id": "82d66a89becc891d",
        "type": "debug",
        "z": "6acbb86292f9f77e",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 500,
        "wires": []
    },
    {
        "id": "8b6c665da91c6cdd",
        "type": "mqtt out",
        "z": "6acbb86292f9f77e",
        "name": "Write to UoE RT",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "36714d0c32d589e4",
        "x": 1380,
        "y": 440,
        "wires": []
    },
    {
        "id": "664daf2640cdfe08",
        "type": "comment",
        "z": "6acbb86292f9f77e",
        "name": "Convert to UoE format",
        "info": "",
        "x": 1040,
        "y": 480,
        "wires": []
    },
    {
        "id": "b0b53d611f84a257",
        "type": "function",
        "z": "6acbb86292f9f77e",
        "name": "function 6",
        "func": "let newMsg = {};\nlet dataPointsConnector = flow.get(\"DatapointsConnectorMeta\");\nlet dataPointsUnified = flow.get(\"DatapointsUnifiedMeta\");\nlet dt = new Date();\n\nlet readTopic = flow.get(\"DatapointTopicOPC\").split(\"/\");\n\nreadTopic[7] = \"w\";\nreadTopic.pop();\nlet writeTopic = readTopic.join(\"/\");\nnewMsg.topic = writeTopic;\n\n//let numberOfDatapoints = msg.payload[\"vals\"].length;\nlet sum = 0;\nlet foundDatapoint;\nlet tagName\nlet convertTagName;\nlet dataPointUoE;\nlet dataPointUoEID;\nlet newVals = [];\n\nmsg.payload[\"vals\"].forEach(function (element) {\n    dataPointUoE = dataPointsUnified.filter(datapoint => datapoint.id === element.id);\n\n    if (dataPointUoE.length > 0) {\n        tagName = dataPointUoE[0].name;\n\n        function checkDPName(datapoint) {\n            convertTagName = datapoint.name.replace(/\\./g, '_');\n            convertTagName = convertTagName.split('_').slice(4).join('_');\n\n            if (convertTagName == tagName) {\n                return tagName;\n            }\n        }\n\n        foundDatapoint = dataPointsConnector.filter(checkDPName);\n        if (foundDatapoint.length > 0) {\n            foundDatapoint = foundDatapoint[0].id;\n\n            newVals.push(\n                {\n                    \"id\": foundDatapoint,\n                    \"qc\": 3,\n                    \"ts\": dt.toISOString(),\n                    \"val\": element.val\n                }\n            )\n        }\n    }\n});\n\nnewMsg.payload = {\n    \"seq\": 1,\n    \"vals\": newVals\n};\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 420,
        "wires": [
            [
                "c18d8135e90714b9",
                "58bd505d82c68c7a"
            ]
        ]
    },
    {
        "id": "c18d8135e90714b9",
        "type": "debug",
        "z": "6acbb86292f9f77e",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 480,
        "wires": []
    },
    {
        "id": "58bd505d82c68c7a",
        "type": "mqtt out",
        "z": "6acbb86292f9f77e",
        "name": "Write to OPC UA",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "36714d0c32d589e4",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "8522f2d02dd3aac8",
        "type": "comment",
        "z": "6acbb86292f9f77e",
        "name": "Convert to OPC UA Format",
        "info": "",
        "x": 450,
        "y": 460,
        "wires": []
    },
    {
        "id": "83a95ccebfdcb59d",
        "type": "debug",
        "z": "6acbb86292f9f77e",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 360,
        "wires": []
    },
    {
        "id": "36714d0c32d589e4",
        "type": "mqtt-broker",
        "name": "brokerIEVD",
        "broker": "ie-databus",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]